@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

body {
  scrollbar-face-color: #cccccc;
  scrollbar-track-color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col-6 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.col-12 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

.justify-space-between {
  justify-content: space-between;
}
@media (min-width: 992px) {
  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.display-none {
  display: none;
}

.display-flex {
  display: flex;
}
@media (min-width: 768px) {
  .display-md-none {
    display: none;
  }
  .display-md-flex {
    display: flex;
  }
}

.text-hover-light:hover {
  color: #f8f9fa;
}

.bg-light {
  background-color: #f8f9fa;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-dark {
  color: #121212;
}

.text-primary {
  color: #007f5f;
}

.card {
  display: block;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.card .card-body {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}
.card .card-body a {
  text-decoration: none;
  color: #007f5f;
}

.btn-outlined-primary {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  border: 1px solid #007f5f;
}
.btn-outlined-primary:hover {
  background-color: #007f5f;
}

.btn-secondary {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #064789;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.btn-secondary:hover {
  background-color: #0860ba;
}

.container-table {
  display: block;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.container-table .container-table-body {
  font-size: 1rem;
  overflow-x: auto;
}
.container-table .container-table-body a {
  text-decoration: none;
  color: #007f5f;
}

.table-responsive {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table-responsive thead {
  border-bottom: 2px solid #f8f9fa;
  color: #007f5f;
  background-color: #ffffff;
  font-size: 1rem;
}
.table-responsive thead th {
  padding: 10px;
}
.table-responsive thead.ta-c {
  text-align: center;
}
.table-responsive thead.ta-l {
  text-align: left;
}
.table-responsive thead.ta-r {
  text-align: right;
}
.table-responsive tbody {
  border: 1px solid #ddd;
}
.table-responsive tbody td,
.table-responsive tbody th {
  padding: 10px;
}
.table-responsive tbody td.ta-c,
.table-responsive tbody th.ta-c {
  text-align: center;
}
.table-responsive tbody td.ta-l,
.table-responsive tbody th.ta-l {
  text-align: left;
}
.table-responsive tbody td.ta-r,
.table-responsive tbody th.ta-r {
  text-align: right;
}
.table-responsive tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.radio {
  margin-bottom: 1rem;
}

.radio + .radio {
  margin-top: 1rem;
}

input[type=radio] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.progress-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
.progress-bar li {
  flex: 2;
  position: relative;
  padding: 0 0 14px 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #007f5f;
  font-weight: 600;
  white-space: nowrap;
  overflow: visible;
  min-width: 0;
  text-align: center;
  border-bottom: 1px solid gray;
}
.progress-bar li:first-child,
.progress-bar li:last-child {
  flex: 1;
  text-align: left;
}
.progress-bar li:last-child {
  text-align: right;
}
.progress-bar li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: grey;
  border-radius: 50%;
  border: 2px solid #f8f9fa;
  position: absolute;
  left: calc(50% - 6px);
  bottom: -7px;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}
.progress-bar li:first-child:before {
  left: 0;
}
.progress-bar li:last-child:before {
  right: 0;
  left: auto;
}
.progress-bar span {
  transition: opacity 0.3s ease-in-out;
}
.progress-bar li:not(.is-active) span {
  opacity: 0;
}
.progress-bar .is-complete:not(:first-child):after,
.progress-bar .is-active:not(:first-child):after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -50%;
  z-index: 2;
  border-bottom: 2px solid #007f5f;
}
.progress-bar li:last-child span {
  width: 200%;
  display: inline-block;
  position: absolute;
  left: -100%;
}
.progress-bar .is-complete:last-child:after,
.progress-bar .is-active:last-child:after {
  width: 200%;
  left: -100%;
}
.progress-bar .is-complete:before {
  background-color: #007f5f;
}
.progress-bar .is-active:before,
.progress-bar li:hover:before {
  background-color: #f8f9fa;
  border-color: #007f5f;
}
.progress-bar li:hover:before {
  transform: scale(1.33);
}
.progress-bar li:hover span {
  opacity: 1;
}
.progress-bar:hover li:not(:hover) span {
  opacity: 0;
}

.tab {
  display: none;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.ml-auto {
  margin-left: auto;
}

.ml-2 {
  margin-left: 1.5rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.br {
  border-radius: 8px;
}

.br-rounded {
  border-radius: 32px;
}

.font-md {
  font-size: 1rem;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}